<div class="menu-items col-lg-6 col-sm-12">
    <a href="/yemek-detay/<%= id %>">
  <img style="width: 300px;"
  class="photo"
  alt=<%= title %>
  src= "/images/<%= img %>"
  />
  <div class="menu-info">
          <div class="menu-title">
          <h4><%= title %></h4>
          <h4 class="price"><%= price %></h4>
          </div>
          <div class="menu-text"> <%= desc %></div>
      </div>
    </a>
  </div>